body {
    color: white;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

.container {
    position: absolute;
    width: 100%;
    height: calc(100% - 15vmin - 100px);
    top: 100px;
}

#value {
    width: 100%;
    height: 45vmin;
    text-align: center;
    font-size: 40vmin;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#label {
    width: 100%;
    height: 30vmin;
    text-align: center;
    vertical-align: top;
    font-size: 10vmin;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media (orientation: portrait) {
    .container {
        height: calc(100% - 20vmin - 50px);
    }
    #value {
        height: 45vh;
        font-size: 25vh;
    }
    #label {
        height: 30h;
        font-size: 5vh;
    }
}

body.clean {
    background-color: green;
}

.clean-1 {
    background-image: url('../images/clean/1.jpg');
}

body.acceptable {
    background-color: #b3b300;
    color: #fff;
}

body.not-perfect {
    background-color: orange;
    color: #fff;
}

.not-perfect-1 {
    background-image: url('../images/not-perfect/1.jpg');
}

body.not-good {
    background-color: red;
    color: #fff;
}

.not-good-1 {
    background-image: url('../images/not-good/1.jpg');
}

.not-good-2 {
    background-image: url('../images/not-good/2.jpg');
}

body.pretty-bad {
    background-color: purple;
}

.pretty-bad-1 {
    background-image: url('../images/pretty-bad/1.jpg');
}

body.terrible {
    background-color: brown;
    color: #fff;
}

.terrible-1 {
    background-image: url('../images/terrible/1.jpg');
}

body.extremely-bad {
    background-color: maroon;
}

.extremely-bad-1 {
    background-image: url('../images/extremely-bad/1.jpg');
}

.extremely-bad-2 {
    background-image: url('../images/extremely-bad/2.jpg');
}

.extremely-bad-3 {
    background-image: url('../images/extremely-bad/3.jpg');
}

body.no-backgrounds {
    background-image: none;
}

#footer {
    height: 15vmin;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0;
    padding-bottom: 20px;
}

.buttons {
    height: 100%;
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 100px;
}

button {
    outline: none;
    cursor: pointer;
    background: transparent;
    border-style: solid;
    border-width: 3px;
    font-weight: 400;
    width: auto;
    border-radius: 25px;
    margin: 4px 2px 4px 10px;
    line-height: 1.5em;
    font-size: 4.5vmin;
    padding: 7px;
}

.location {
    margin: 5px 20px 5px 5px;
}

@media (orientation: portrait) {
    .location {
        text-indent: -9999px;
        width: 46px !important;
    }
    .location .icon {
        mask: url('../images/marker.svg') no-repeat;
        -webkit-mask: url('../images/marker.svg') no-repeat;
        mask-size: 20px auto;
        -webkit-mask-size: 20px auto;
        background-color: #fff;
        mask-position: center;
        -webkit-mask-position: center;
    }
}

.clean .buttons button,
.acceptable .buttons button,
.not-perfect .buttons button {
    color: #fff;
    border-color: #fff;
}

.acceptable.no-backgrounds,
.not-perfect.no-backgrounds {
    color: #000;
}

.acceptable.no-backgrounds .buttons button,
.not-perfect.no-backgrounds .buttons button {
    color: #000;
    border-color: #000;
}

.acceptable.no-backgrounds .location .icon,
.not-perfect.no-backgrounds .location .icon,
.fallback .location .icon {
    background-color: #000;
}

.not-good .buttons button,
.pretty-bad .buttons button,
.terrible .buttons button,
.extremely-bad .buttons button {
    color: #fff;
    border-color: #fff;
}