body {
    color: white;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#value {
    font-size: 50vmin;
}

#label {
    font-size: 20vmin;
}

body.clean {
    background-color: green;
    background-image: url('../images/clean.jpg');
}

body.acceptable {
    background-color: yellow;
    background-image: url('../images/clean.jpg');
}

body.not-perfect {
    background-color: orange;
    background-image: url('../images/not-perfect.jpg');
}

body.not-good {
    background-color: red;
    background-image: url('../images/not-good.jpg');
}

body.pretty-bad {
    background-color: purple;
    background-image: url('../images/pretty-bad.jpg');
}

body.terrible {
    background-color: brown;
    background-image: url('../images/terrible.jpg');
}

body.extremely-bad {
    background-color: maroon;
    background-image: url('../images/extremely-bad.jpg');
}

body.no-backgrounds {
    background-image: none;
}

#footer {
    height: 40px;
    width: 100%;
    background: #384048;
    position: absolute;
    bottom: 0;
}

.buttons {
    height: 100%;
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

button {
    outline: none;
    cursor: pointer;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    font-weight: 300;
    width: auto;
    border-radius: 25px;
    min-width: 120px;
    margin: 4px 2px 4px 10px;
    line-height: 1.5em;
    font-size: 12px;
    padding: 5px;
}